*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, black,#2b1313);
}

.stopwatch {
    height: 100px;
    width: 200px;
    text-align: center;
    color: #fff;
    background-color: #f40c0c;
    padding: 10px;
    margin: 10px;
    border: 2px solid #dd0e0e;
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
    color: #151515;
}

button {
    font-size: 1em;
    margin: 5px;
    padding: 5px 10px;
    color: #dd0e0e;
    background-color: #170101;
    cursor: pointer;
    border-radius: 20px 20px;
}
button:hover{
    background-color: rgb(234, 223, 22);
}
